<h1>更新候選人</h1>

<% if @candidate.errors.any? %>
  <ul>
  <% @candidate.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for(@candidate) do |f| %>

  姓名：<%= f.text_field :name %><br />
  年紀：<%= f.number_field :age %><br />
  性別：<%= f.text_field :gender %><br />
  政黨：<%= f.text_field :party %><br />

  <%= f.submit %>
<% end %>

